	body{background-color: cornsilk;

		}


	table {border-color: darkmagenta; 
		color: darkslategray;
	

			}


	h1 {color: darkmagenta; 
		text-align: center; 
		text-decoration: underline;

		}
